In [2]:
import pandas as pd
import os
os.listdir()

['.ipynb_checkpoints',
 '2011 Stack Overflow Survey Results.csv',
 '2024 Developer Survey.pdf',
 'citisalary.csv',
 'clevelanda (2).csv',
 'Data Visualization with Seaborn-3.ipynb',
 'dec_2022.png',
 'Dec_Anal.png',
 'Electric vehical.ipynb',
 'Electric_Vehicle_Population_Data.csv',
 'ETH_1h.csv',
 'first.ipynb',
 'first2.ipynb',
 'first3.ipynb',
 'first7.ipynb',
 'Food Delivery Cost and Profitability Analysis using Python.ipynb',
 'food_orders_new_delhi.csv',
 'hypi1.ipynb',
 'hypo-test.ipynb',
 'inherintance and cls method .ipynb',
 'iris.csv',
 'leading data 1.xlsx',
 'LinkedList.ipynb',
 'Marketing_conversion_data.xlsx',
 'mod.json',
 'mod.xlsx',
 'mod3.json',
 'modi.tsv',
 'modifided.csv',
 'new.py',
 'newfirst.ipynb',
 'panda and sea,polt and mat.ipynb',
 'Permits by sector 2024.xlsx',
 'Permits issued to companies 2024.xlsx',
 'plotly-4.ipynb',
 'python to mysql',
 'Real-Time Project on Probability Distribution & Hypothesis Testing.ipynb',
 'Sales Data.xlsx',
 'sorting.ipynb',
 'stack and queue.ipynb',
 'static in python.ipynb',
 'survey_results_public.csv',
 'survey_results_schema.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled16.ipynb',
 'Untitled17.ipynb',
 'Untitled18.ipynb',
 'Untitled19.ipynb',
 'Untitled2.ipynb',
 'Untitled20.ipynb',
 'Untitled21.ipynb',
 'Untitled22.ipynb',
 'Untitled23.ipynb',
 'Untitled24.ipynb',
 'Untitled25.ipynb',
 'Untitled26.ipynb',
 'Untitled27.ipynb',
 'Untitled28.ipynb',
 'Untitled29.ipynb',
 'Untitled3.ipynb',
 'Untitled30.ipynb',
 'Untitled31.ipynb',
 'Untitled32.ipynb',
 'Untitled33.ipynb',
 'Untitled34.ipynb',
 'Untitled35.ipynb',
 'Untitled36.ipynb',
 'Untitled37.ipynb',
 'Untitled38.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'website_ab_test.csv']

In [3]:
data=pd.read_csv('website_ab_test.csv')

In [4]:
data

,Theme,Click Through Rate,Conversion Rate,Bounce Rate,Scroll_Depth,Age,Location,Session_Duration,Purchases,Added_to_Cart
0,Light Theme,0.054920,0.282367,0.405085,72.489458,25,Chennai,1535,No,Yes
1,Light Theme,0.113932,0.032973,0.732759,61.858568,19,Pune,303,No,Yes
2,Dark Theme,0.323352,0.178763,0.296543,45.737376,47,Chennai,563,Yes,Yes
3,Light Theme,0.485836,0.325225,0.245001,76.305298,58,Pune,385,Yes,No
4,Light Theme,0.034783,0.196766,0.765100,48.927407,25,New Delhi,1437,No,No
...,...,...,...,...,...,...,...,...,...,...
995,Dark Theme,0.282792,0.401605,0.200720,68.478822,25,Kolkata,321,Yes,Yes
996,Dark Theme,0.299917,0.026372,0.762641,73.019821,38,Chennai,1635,Yes,Yes
997,Light Theme,0.370254,0.019838,0.607136,33.963298,32,Bangalore,1237,No,Yes
998,Light Theme,0.095815,0.137953,0.458898,37.429284,24,Chennai,893,Yes,No
999,Dark Theme,0.342588,0.061315,0.452410,31.613326,33,Chennai,129,Yes,Yes

In [5]:
from scipy.stats import ttest_ind

In [6]:
summary = {
    'Number of Records': data.shape[0],
    'Number of Columns': data.shape[1],
    'Missing Values': data.isnull().sum(),
    'Numerical Columns Summary': data.describe()
}

In [7]:
summary

{'Number of Records': 1000,
 'Number of Columns': 10,
 'Missing Values': Theme                 0
 Click Through Rate    0
 Conversion Rate       0
 Bounce Rate           0
 Scroll_Depth          0
 Age                   0
 Location              0
 Session_Duration      0
 Purchases             0
 Added_to_Cart         0
 dtype: int64,
 'Numerical Columns Summary':        Click Through Rate  Conversion Rate  Bounce Rate  Scroll_Depth  \
 count         1000.000000      1000.000000  1000.000000   1000.000000
 mean             0.256048         0.253312     0.505758     50.319494
 std              0.139265         0.139092     0.172195     16.895269
 min              0.010767         0.010881     0.200720     20.011738
 25%              0.140794         0.131564     0.353609     35.655167
 50%              0.253715         0.252823     0.514049     51.130712
 75%              0.370674         0.373040     0.648557     64.666258
 max              0.499989         0.498916     0.799658     79.997108

                Age  Session_Duration
 count  1000.000000       1000.000000
 mean     41.528000        924.999000
 std      14.114334        508.231723
 min      18.000000         38.000000
 25%      29.000000        466.500000
 50%      42.000000        931.000000
 75%      54.000000       1375.250000
 max      65.000000       1797.000000  }

In [44]:
data = data.dropna(subset=['Theme', 'Conversion Rate'])

In [42]:
data['Theme'].unique()

array(['Light Theme', 'Dark Theme'], dtype=object)

In [41]:
data = data.dropna(subset=['Theme'])

In [8]:
theme_performance = data.groupby('Theme').mean(numeric_only=True)
theme_performance_sorted = theme_performance.sort_values(by='Conversion Rate', ascending=False)
print(theme_performance_sorted)

             Click Through Rate  Conversion Rate  Bounce Rate  Scroll_Depth  \
Theme
Light Theme            0.247109         0.255459     0.499035     50.735232
Dark Theme             0.264501         0.251282     0.512115     49.926404

                   Age  Session_Duration
Theme
Light Theme  41.734568        930.833333
Dark Theme   41.332685        919.482490

In [9]:
conversion_rates_light = data[data['Theme'] == 'Light Theme']['Conversion Rate']
conversion_rates_dark = data[data['Theme'] == 'Dark Theme']['Conversion Rate']
t_stat, p_value = ttest_ind(conversion_rates_light, conversion_rates_dark, equal_var=False)
t_stat, p_value

(np.float64(0.4748494462782632), np.float64(0.6349982678451778))

In [51]:
conversion_rates_light

0      0.282367
1      0.032973
3      0.325225
4      0.196766
5      0.266987
         ...
989    0.416115
991    0.293247
994    0.231131
997    0.019838
998    0.137953
Name: Conversion Rate, Length: 486, dtype: float64

In [53]:
data.columns

Index(['Theme', 'Click Through Rate', 'Conversion Rate', 'Bounce Rate',
       'Scroll_Depth', 'Age', 'Location', 'Session_Duration', 'Purchases',
       'Added_to_Cart'],
      dtype='object')

In [10]:
ct_dark=data[data['Theme']=='Dark Theme']['Click Through Rate']
ct_lite=data[data['Theme']=='Light Theme']['Click Through Rate']
t_stat_ctr, p_value_ctr = ttest_ind(ct_lite,ct_dark, equal_var=False)
t_stat_ctr, p_value_ctr

(np.float64(-1.9781708664172253), np.float64(0.04818435371010704))

In [11]:
Bounce_Rate_dark=data[data['Theme']=='Dark Theme']['Bounce Rate']
Bounce_Rate_lite=data[data['Theme']=='Light Theme']['Bounce Rate']
t_stat_Br, p_value_Br = ttest_ind(Bounce_Rate_lite,Bounce_Rate_dark, equal_var=False)
t_stat_Br, p_value_Br

(np.float64(-1.2018883310494073), np.float64(0.229692077505148))

In [12]:
Scroll_Depth_dark=data[data['Theme']=='Dark Theme']['Scroll_Depth']
Scroll_Depth_lite=data[data['Theme']=='Light Theme']['Scroll_Depth']
t_stat_sd, p_value_sd = ttest_ind(Scroll_Depth_lite,Scroll_Depth_dark, equal_var=False)
t_stat_sd, p_value_sd

(np.float64(0.7562277864140986), np.float64(0.4496919249484911))

In [13]:
comparison_table = pd.DataFrame({
    'Metric': ['Click Through Rate', 'Conversion Rate', 'Bounce Rate', 'Scroll Depth'],
    'T-Statistic': [t_stat_ctr, t_stat, t_stat_Br, t_stat_sd],
    'P-Value': [p_value_ctr, p_value, p_value_Br, p_value_sd]
})

comparison_table

               Metric  T-Statistic   P-Value
0  Click Through Rate    -1.978171  0.048184
1     Conversion Rate     0.474849  0.634998
2         Bounce Rate    -1.201888  0.229692
3        Scroll Depth     0.756228  0.449692